/* {{{ home common */
.hl-black {color:black}
.hl-red {color:red}
.booking-blue {color:#69f}
.seasir-red {color:red !important;font-weight:bold}
.berry-pink {color:hotpink !important;font-weight:bold}
.lt {color:#c66;font-size:12px}
#container950 {
    width: 950px;
    height: 1%;
    margin: 0 auto;
    padding: 5px 0 5px 0;
    text-align: left;
}
.pkg-inc-ul {
    margin:0 0 30px 0;
    padding:0 0 0 30px;
    line-height:25px;
}
.clean-ul {
    margin:0 0 30px 0;
    padding:0;
    line-height:25px;
    list-style:none;
}
ol {
    margin:0 0 30 0;
    text-align:justify;
    padding:0 0 0 30px;
    line-height:25px;
}
.mb10 {margin-bottom:10px}
.c {text-align:center}
.al-r {text-align:right}
ul.outside {
    padding-left:1em;
}
.upword {
font-size: xx-small;
vertical-align: super;
}

/* }}} home common */
/* {{{ fllink */
#fllink {
    text-align:right;
    margin: 0;
}
#fllink-ul {
    list-style: none;
    margin: 0;
    padding:0;
    text-align:right;
}
.fllink-li {
    margin: 0;
    padding: 0;
    display: inline-block;
    padding-left: 1.5em;
    font-weight: bold;
    font-size: 14px;
}
/* }}} fllink */
.in-box {
    margin:-10px 0 0 0;
}
/* {{{ cal */
/* table {width:300px;font-size:16px;margin:0 0 5px 0;} */
/*th,td {padding:1px 0;}*/
.chkCal {font-size:14px;color:#aaa;}
.chkCal:hover {color:#000;}
.cal {width:auto;display:inline-block;margin:2em 5px 5px 5px;color:#666;}
.cal,.cal th,.cal td {
    border-collapse:collapse;
    border: 1px solid #f33;
    text-align:center;
    font-size:16px;
}
.cal th {padding:1px 0}
.cal td {height:20px;width:40px;padding:1px 0;}
.weekend {color:#f33;}
.peak {color:white;background-color:red;}
.normal {background-color:yellow;}
.cal-box {
    display:inline-block;
    width:30px;height:20px;
    border:1px solid red;
    margin:0 10px 0 0;
    vertical-align:top;
}
.cal-yellow-box {background-color:yellow;margin-left:60px;}
.cal-red-box {background-color:red;margin-left:60px;}
.cal-index {font-size:20px;font-weight:600;margin:10px 0}
/* }}} cal */
/* {{{ packages */
.packages {
    margin:50px 0;
    padding:0 0 30px 0;
    border-bottom:1px solid rgba(0,0,0,.2);
    box-shadow:0 1px 0 rgba(255,255,255,.9);
    border-bottom:1px solid #ccc\9;
}
.pkg-imgs-box {
    padding:4px;
    border-top:1px solid #aaa;
    border-right:1px solid #333;
    border-left:1px solid #aaa;
    border-bottom:1px solid #000;
    background-color:#fff;
    background-repeat:no-repeat;
    width:190px;
    height:135px;
    margin:0 5px 0 0;
    display:inline-block;
}
.h3-p {
    color: #666;
    font-size: 16px !important;
}   
.h2-price {
    color:#12c;
    padding-left:20px;
}
.pkg-inc,.pkg-schedule {
    display:inline-block;
    vertical-align:top;
}
.pkg-inc {
    width:400px;
}
.pkg-schedule {
    width:450px;
}
.see-more-detail,
.booking-now {
    font-size:28px;
    line-height:40px;
    text-decoration:inherit;
}
.see-more-detail,.underline {
    text-decoration:underline;
}
.arrow-left {
    padding-left:3px;
    text-decoration:none;
    font-family:arial;
    font-size:10px;
}
.priceT {
    border-collapse:collapse;
    font-size:16px;
    margin-bottom:10px;
}
.priceT th,.priceT td {
    border-top:1px solid #ccc;
    border-right:1px solid #999;
    border-left:1px solid #ccc;
    border-bottom:1px solid #999;
    padding:5px 15px 4px 15px;
    font-size:14px;
}
.priceT tr:nth-child(even) {background:#eee;}
.priceT tr:nth-child(odd) {background:#fff;}
.small-font {font-size: 10px;}
/* }}} packages */
/* {{{ addr */
#addr {
    margin:0 0 20px 0;
    font-size:16px;
}
.map-box {
    max-width:580px;
}
/* }}} addr */
/* {{{ contact */
#contact {
    margin:10px 0;
    padding:0;
    font-size:16px;
    border:none;
    /*
    border-collapse: collapse;
    border:1px solid #333;*/
}
#contact td{
    /*border:1px solid #333;*/
    padding:2px 20px 2px 0;
}
.email-booking {display:block;margin:10px 0;}
/* }}} contact */
/* image box {{{ */
.seasir-small-margin {
    margin: 0 0 6px 5px;
}
.seasir-sub-ibx {
    display:inline-block;max-width:400px;vertical-align:top;
}
.seasir-prog-ibx {
    display:block;vertical-align:top;
}
.seasir-main-ibx {
    max-width:480px;
    vertical-align:top;
    margin-bottom:10px;
}
/* }}} image box */
/* {{{ book form */
.booking-procedure {margin:10px 0;text-align:justify;color:red;font-size:0.9em}
.width-1 {width:36px}
.width-2 {width:42px}
.guest-name{width:112px}
/* }}} book form */
