<table class="eq-table small-font" >
<tr>
  <td rowspan="2">{{include.h1}}</td>
  <td rowspan="2">潜水次数</td>
  <td colspan="3">潜水员<br>
(以下价格为一名潜水客人的价格)</td>
  <td rowspan="2">非潜水员<br>
(需有潜水员陪同)</td>
</tr>
<tr>
  <td>三人房</td>
  <td>双人房/大床房</td>
  <td>单人房</td>
</tr>
<tr>
  <td>四天三晚</td>
  <td>6</td>
  <td><span class="include.currency">{{include.currency}}</span><span class="money">{{include.price.regular.triple}}</span></td>
  <td><span class="include.currency">{{include.currency}}</span><span class="money">{{include.price.regular.twin}}</span></td>
  <td><span class="include.currency">{{include.currency}}</span><span class="money">{{include.price.regular.single}}</span></td>
  <td><span class="include.currency">{{include.currency}}</span><span class="money">{{include.price.regular.non-diver}}</span></td>
</tr>
<tr>
  <td>追加一晚</td>
  <td>+3</td>
  <td>+<span class="include.currency">{{include.currency}}</span><span class="money">{{include.price.additional.triple}}</span></td>
  <td>+<span class="include.currency">{{include.currency}}</span><span class="money">{{include.price.additional.twin}}</span></td>
  <td>+<span class="include.currency">{{include.currency}}</span><span class="money">{{include.price.additional.single}}</span></td>
  <td>+<span class="include.currency">{{include.currency}}</span><span class="money">{{include.price.additional.non-diver}}</span></td>
</tr>
</table>

