<table class="eq-table small-font" >
<tr>
  <td rowspan="2">{{include.h1}}</td>
  <td rowspan="2">No.  of Dives</td>
  <td colspan="3">Certified Diver<br>
(Below charges base on per each diver guest)</td>
  <td rowspan="2">Non- Diver<br>
(Applicable only with accompany Diver)</td>
</tr>
<tr>
  <td>Triple Sharing</td>
  <td>Twin/Double Sharing</td>
  <td>Single Use</td>
</tr>
<tr>
  <td>4 Days 3 Nights</td>
  <td>6</td>
  <td><span class="include.currency">{{include.currency}}</span><span class="money">{{include.price.regular.triple}}</span></td>
  <td><span class="include.currency">{{include.currency}}</span><span class="money">{{include.price.regular.twin}}</span></td>
  <td><span class="include.currency">{{include.currency}}</span><span class="money">{{include.price.regular.single}}</span></td>
  <td><span class="include.currency">{{include.currency}}</span><span class="money">{{include.price.regular.non-diver}}</span></td>
</tr>
<tr>
  <td>Every Additional Night</td>
  <td>+3</td>
  <td>+<span class="include.currency">{{include.currency}}</span><span class="money">{{include.price.additional.triple}}</span></td>
  <td>+<span class="include.currency">{{include.currency}}</span><span class="money">{{include.price.additional.twin}}</span></td>
  <td>+<span class="include.currency">{{include.currency}}</span><span class="money">{{include.price.additional.single}}</span></td>
  <td>+<span class="include.currency">{{include.currency}}</span><span class="money">{{include.price.additional.non-diver}}</span></td>
</tr>
</table>

