<div class="photo-frame seasir-main-ibx"><img src="{{site.baseurl}}{{site.i.url}}/seasir/{{include.imgs.main}}" /></div>
<div class="seasir-sub-ibx" style="width:180px">
  <div class="photo-frame-small seasir-small-margin"><img src="{{site.baseurl}}{{site.i.url}}/seasir/{{include.imgs.sub[0]}}" /></div>
  <div class="photo-frame-small seasir-small-margin"><img src="{{site.baseurl}}{{site.i.url}}/seasir/{{include.imgs.sub[1]}}" /></div>
</div>
<div class="seasir-sub-ibx" style="width:200px">
  <div class="photo-frame-small seasir-small-margin"><img src="{{site.baseurl}}{{site.i.url}}/seasir/{{include.imgs.sub[2]}}" /></div>
</div>
