<!-- ((( agreement -->    
<fieldset name="agreements">
    <legend>Terms and Condition / Cancellation Policy</legend>
    <p>
        <input id="check-rest" type="checkbox" class="agreements" name="rest-agreement" value="checked">
        <label class="check-label" for="check-rest">I, and on behalf of the person in this booking form, we all understand and will follow the flying after diving safety practice by having minimum of 18 hours surface interval or 24 hours as recommended.</label>
    </p>
    <p>
        <input id="check-health" type="checkbox" class="agreements" name="health" value="checked">
        <label class="check-label" for="check-health">I, and on behalf of the person in this booking form, we all are aware that personal health condition is important to all related activity in this booking. Here we are sure that none of us are under any medical term or taking any prescription to control our own health condition.</label>
    </p>
    <p>
        <input id="check-currency" type="checkbox" class="agreements" name="currency" value="checked">
        <label class="check-label" for="check-currency">
 I, and on behalf of the person in this booking form, we all understand and agree that package tours in this website are quoted in US Dollar or other currency. The payment made by using China Reminbi currency, the exchange rate will follow according to my booking confirmation invoice.
    </label>
    </p>
    <p>
        <input id="check-deposit" type="checkbox" class="agreements" name="deposit" value="checked">
        <label class="check-label" for="check-deposit"> I, and on behalf of the person in this booking form, we are aware that once the invoice is sent to our booking email we are required to make minimum 30% deposit of the total amount thru Wechat or ALIPAY or bank account transfer within 3 days to secure our booking.
        </label>
    </p>
    <p>
        <input id="check-cancellation" type="checkbox" class="agreements" name="cancellation" value="checked">
        <label class="check-label" for="check-cancellation">
          I, and on behalf of the person in this booking form, we all understand and agree all terms and  condition and cancellation policy set by seasirchina.com on the official website link <a href="{{site.baseurl}}/cancellation" target="_blank">www.seasirchina.com{{site.baseurl}}/cancellation</a>
    </label>
    </p>
    <p>
        <input id="check-loss" type="checkbox" class="agreements" name="loss" value="checked">
        <label class="check-label" for="check-loss">
I, and on behalf of the person in this booking form, we all understand and agree that this website company will not take any responsibility of any loss or damage of property or cause of injury even loss of life in this trip of booking.
    </label>
    </p>
    <textarea name="agreements" style="display:none">
* I, and on behalf of the person in this booking form, we all understand and will follow the flying after diving safety practice by having minimum of 18 hours surface interval or 24 hours as recommended. 
* I, and on behalf of the person in this booking form, we all are aware that personal health condition is important to all related activity in this booking. Here we are sure that none of us are under any medical term or taking any prescription to control our own health condition. 
* I, and on behalf of the person in this booking form, we all understand and agree that package tours in this website are quoted in US Dollar or other currency. The payment made by using China Reminbi currency, the exchange rate will follow according to my booking confirmation invoice. 
* I, and on behalf of the person in this booking form, we are aware that once the invoice is sent to our booking email we are required to make minimum 30% deposit of the total amount thru Wechat or ALIPAY or bank account transfer within 3 days to secure our booking. 
* I, and on behalf of the person in this booking form, we all understand and agree all terms and  condition and cancellation policy set by seasirchina.com on the official website link www.seasirchina.com/cancellation
* I, and on behalf of the person in this booking form, we all understand and agree that this website company will not take any responsibility of any loss or damage of property or cause of injury even loss of life in this trip of booking. 
    </textarea>
</fieldset>
<!-- ))) agreement -->    
