<!-- ((( location Marine House SEASIR NAHA branch -->
<h2>Location</h2>
<h3 class="location-h3">Marine House SEASIR NAHA branch</h3>
<div id="addr">2-3-13, Minato-machi, Naha city,<br>Okinawa 900-0001 JAPAN</div>
<div class="img-box map-box">
    <a href="https://maps.google.co.jp/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=marine+house+seasir&amp;aq=&amp;sll=25.965654,127.132909&amp;sspn=8.005051,9.876709&amp;brcurrent=3,0x34e5697141a6b58b:0x2cd8aff616585e98,0&amp;ie=UTF8&amp;hq=marine+house+seasir&amp;hnear=&amp;t=m&amp;ll=26.258628,127.701817&amp;spn=0.073895,0.109863&amp;z=13&amp;iwloc=A" target="_blank" title="View Larger Map in Google Maps"><img src="{{ site.baseurl }}{{site.i.url}}/seasir/map-naha.png"></a> 
    <small><a href="https://maps.google.co.jp/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=marine+house+seasir&amp;aq=&amp;sll=25.965654,127.132909&amp;sspn=8.005051,9.876709&amp;brcurrent=3,0x34e5697141a6b58b:0x2cd8aff616585e98,0&amp;ie=UTF8&amp;hq=marine+house+seasir&amp;hnear=&amp;t=m&amp;ll=26.258628,127.701817&amp;spn=0.073895,0.109863&amp;z=13&amp;iwloc=A" style="color:#0000FF;text-align:left" target="_blank">View Larger Map in Google Maps</a></small>
</div>
<h3>Own Transportation</h3>
Please use this phone number <span class="hl-red">098 869 6329</span> key in the Car Navigation system or use this MAP CODE <span class="hl-red">33246627 *42</span> to locate our shop or click the <a href="https://maps.google.co.jp/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=marine+house+seasir&amp;aq=&amp;sll=25.965654,127.132909&amp;sspn=8.005051,9.876709&amp;brcurrent=3,0x34e5697141a6b58b:0x2cd8aff616585e98,0&amp;ie=UTF8&amp;hq=marine+house+seasir&amp;hnear=&amp;t=m&amp;ll=26.258628,127.701817&amp;spn=0.073895,0.109863&amp;z=13&amp;iwloc=A" target="_blank" title="View Larger Map in Google Maps">google map</a> to get the direction.

<!-- ))) location -->
