<!-- ((( agreement -->    
<fieldset name="agreements">
    <legend>条款和条件 / 取消规定细则</legend>
    <p>
        <input id="check-rest" type="checkbox" class="agreements" name="rest-agreement" value="checked">
        <label class="check-label" for="check-rest">我（们）已全部理解潜水安全问题并会按照要求遵守相关规定，会按照规定在潜水后等待至少18个小时至24个小时再乘坐飞机。</label>
    </p>
    <p>
        <input id="check-health" type="checkbox" class="agreements" name="health" value="checked">
        <label class="check-label" for="check-health">我（们）已知晓在此次预定活动中个人健康状况至为重要。在此我（们）保证团队中的每一位都不在疾病治疗期间或服用处方药剂来维持个人健康。</label>
    </p>
    <p>
        <input id="check-currency" type="checkbox" class="agreements" name="currency" value="checked">
        <label class="check-label" for="check-currency">
我（们）同意并知晓该网站所有活动以美元或其他货币来计算，以人民币结算时汇率遵循预约确认发票。
    </label>
    </p>
    <p>
        <input id="check-deposit" type="checkbox" class="agreements" name="deposit" value="checked">
        <label class="check-label" for="check-deposit">我（们）已知晓一旦订单成立并且发票通过邮件发送给我（们）时，需要在三天内通过微信支付或支付宝或银行转账完成预付定金（全部费用的30%）以确保预约顺利完成。
        </label>
    </p>
    <p>
        <input id="check-cancellation" type="checkbox" class="agreements" name="cancellation" value="checked">
        <label class="check-label" for="check-cancellation">
          我（们）知晓并同意seasirchina.com官网上的所有条款和条件以及取消规定细则。该网站链接为<a href="{{site.baseurl}}/cancellation" target="_blank">www.seasirchina.com{{site.baseurl}}/cancellation</a>
    </label>
    </p>
    <p>
        <input id="check-loss" type="checkbox" class="agreements" name="loss" value="checked">
        <label class="check-label" for="check-loss">
我（们）知晓并同意该公司在本次活动中对任何人身财产伤害、损失甚至死亡问题不负担任何责任。
    </label>
    </p>
    <textarea name="agreements" style="display:none">
* 我（们）已全部理解潜水安全问题并会按照要求遵守相关规定，会按照规定在潜水后等待至少18个小时至24个小时再乘坐飞机。
* 我（们）已知晓在此次预定活动中个人健康状况至为重要。在此我（们）保证团队中的每一位都不在疾病治疗期间或服用处方药剂来维持个人健康。
* 我（们）同意并知晓该网站所有活动以美元或其他货币来计算，以人民币结算时汇率遵循预约确认发票。
* 我（们）已知晓一旦订单成立并且发票通过邮件发送给我（们）时，需要在三天内通过微信支付或支付宝或银行转账完成预付定金（全部费用的30%）以确保预约顺利完成。
* 我（们）知晓并同意seasirchina.com官网上的所有条款和条件以及取消规定细则。该网站链接为www.seasirchina.com/cn/cancellation
* 我（们）知晓并同意该公司在本次活动中对任何人身财产伤害、损失甚至死亡问题不负担任何责任。 
    </textarea>
</fieldset>
<!-- ))) agreement -->    
