<!-- ((( agreement -->    
<fieldset name="agreements">
    <legend>Terms and Condition / Cancellation Policy</legend>
    <p>
        <input id="check-health" type="checkbox" class="agreements" name="health" value="checked">
        <label class="check-label" for="check-health">I, and all the guests in this booking form had referred to SEASIR health check list under this link <a href="{{site.baseurl}}/health/" target="_blank">{{site.url}}{{site.baseurl}}/health/</a> and we all have no question that the answers apply YES to our condition.</label>
    </p>
    <p>
        <input id="check-rest" type="checkbox" class="agreements" name="rest" value="checked">
        <label class="check-label" for="check-rest">
I, and all the guests in this booking form are well aware that after participating in any scuba diving activity, we must have at least 24 hour before taking a flight to anywhere or going anywhere that are above seas level more than 300 meters.    
        </label>
    </p>
    <p>
        <input id="check-cancellation" type="checkbox" class="agreements" name="cancellation" value="checked">
        <label class="check-label" for="check-cancellation">
          I, and all the guests in this booking form are well informed and agree on all the <b>Booking Terms and Condition</b> at <a href="{{site.baseurl}}/cancellation/" target="_blank">{{site.url}}{{site.baseurl}}/cancellation/</a>
    </label>
    </p>
    <p>
        <input id="check-refund" type="checkbox" class="agreements" name="refund" value="checked">
        <label class="check-label" for="check-refund">
          I, and all the guests in this booking form are well informed and agree on the <b>Cancellation and Payment Refund Policy</b> at <a href="{{site.baseurl}}/cancellation/" target="_blank">{{site.url}}{{site.baseurl}}/cancellation/</a>
    </label>
    </p>
    <textarea name="agreements" style="display:none">
* I, and all the guests in this booking form had referred to SEASIR health check list under this link www.seasirchina.com/health/ and we all have no question that the answers apply YES to our condition. 

* I, and all the guests in this booking form are well aware that after participating in any scuba diving activity, we must have at least 24 hour before taking a flight to anywhere or going anywhere that are above seas level more than 300 meters. 

* I, and all the guests in this booking form are well informed and agree on all the Booking Terms and Condition at www.seasirchina.com/cancellation/ 

* I, and all the guests in this booking form are well informed and agree on the Cancellation and Payment Refund Policy at www.seasirchina.com/cancellation/
    </textarea>
</fieldset>
<!-- ))) agreement -->    
