<!-- ((( agreement -->    
<fieldset name="agreements">
    <legend>条款和条件 / 取消规定细则</legend>
    <p>
        <input id="check-health" type="checkbox" class="agreements" name="health" value="checked">
        <label class="check-label" for="check-health">本人及此预约中涉及的所有成员都通过此链接<a href="{{site.baseurl}}/health/" target="_blank">{{site.url}}{{site.baseurl}}/health/</a>进行了SEASIR的健康自检并确认所有人没有健康自检表中的相关问题。</label>
    </p>
    <p>
        <input id="check-rest" type="checkbox" class="agreements" name="rest" value="checked">
        <label class="check-label" for="check-rest">
本人及此预约中涉及的所有成员都已了解在参加了水肺潜水活动后，需要停留至少24小时后方可乘坐飞机或达到海拔300米以上的区域。
        </label>
    </p>
    <p>
        <input id="check-cancellation" type="checkbox" class="agreements" name="cancellation" value="checked">
        <label class="check-label" for="check-cancellation">
          本人及此预约中涉及的所有成员已通过<a href="{{site.baseurl}}/cancellation/" target="_blank">{{site.url}}{{site.baseurl}}/cancellation/</a>充分了解并同意《预约条款与条件》的相关内容。
    </label>
    </p>
    <p>
        <input id="check-refund" type="checkbox" class="agreements" name="refund" value="checked">
        <label class="check-label" for="check-refund">
          本人及此预约中涉及的所有成员已通过<a href="{{site.baseurl}}/cancellation/" target="_blank">{{site.url}}{{site.baseurl}}/cancellation/</a>充分了解并同意《取消和退款政策》的相关内容。
    </label>
    </p>
    <textarea name="agreements" style="display:none">
* 本人及此预约中涉及的所有成员都通过此链接www.seasirchina.com/health/进行了SEASIR的健康自检并确认所有人没有健康自检表中的相关问题。

* 本人及此预约中涉及的所有成员都已了解在参加了水肺潜水活动后，需要停留至少24小时后方可乘坐飞机或达到海拔300米以上的区域。

* 本人及此预约中涉及的所有成员已通过www.seasirchina.com/cancellation/充分了解并同意《预约条款与条件》的相关内容。 

* 本人及此预约中涉及的所有成员已通过www.seasirchina.com/cancellation/充分了解并同意《取消和退款政策》的相关内容。
    </textarea>
</fieldset>
<!-- ))) agreement -->    
