---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: メイリオ, "Hiragino Kaku Gothic Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-size-on-palm: 14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #333;
$text-color-inv:   #eee;
$background-color: #fdfcfa;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$yellow-color: #ea0;
$brown-color: #863E29;

$brand-color:      #ea0;
$a-color:          $grey-color;
$a-hover-color:    $brand-color;
$a-page-color:     $brown-color;
$a-page-hover-color: $brown-color;

$em-color: #c00;
$h1-color: $brown-color;
$h2-color: $brown-color;


// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        1000px;

@import "minima";
@import "tables";

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
@include media-query($on-palm) {
    .wrapper {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

// Import partials from the `minima` theme.

