---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Helvetica, Arial, "STHeiti", "SimHei", sans-serif;
$base-font-family-serif: Georgia, "STHeiti", "SimHei", serif;
$base-font-size:   16px;
$base-font-size-on-palm: 14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;

$spacing-unit:     30px;

$text-color:       #666;
$text-color-inv:   #eee;
$background-color: #fdfcfa;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$yellow-color: #ea0;
$brown-color: #863E29;
$blue-color: #69f;

$brand-color:      red;
$a-color:          $blue-color;
$a-hover-color:    red;
$a-page-color:     $blue-color;
$a-page-hover-color: red;

$high-light-color: red;

$em-color: #c00;
$h1-color: #000;
$h2-color: #333;
$h3-color: #555;
$h4-color: #555;

$post-bg-img: '{{site.baseurl}}{{site.i.url}}/post-bg.png';
// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        1000px;

@import "minima";
// @import "tables";

// Minima also includes a mixin for defining media queries.
// Use media queries like this:

// Import partials from the `minima` theme.

