
.brief-container {
    font-family: $base-font-family-serif;
    margin-bottom: 1.5em;
    align-items: start;
    display: flex;
    flex-direction: row;
}

.rev {
  flex-direction: row-reverse;
}

.brief-text, .brief-photo {
    flex-direction: column;
    display: flex;
}

.brief-photo-a {
    position: relative;
    display: block;
}

.brief-photo-mask {
    position: absolute;
    left:0;
    width:100%;
    top:70%;
    bottom:0;
    background-color: rgba(0,0,0,0.2);
    text-align:center;
    color: white;
}

.brief-photo-title {
    font-size:1.5em;
    font-weight: 800;
    margin:0.2em 0 0 0;
}

.brief-photo-by {
    position: relative;
    font-size: 12px;
    width:100%;
    text-align: right;
    margin-top: 2px;
    padding-right: 3px;
}

.brief-text-title {
    font-size:160%;
    margin: 0 2em;
    font-weight: 800;
}

.brief-text {
    max-width: 440px;
    margin: 0 1em;
    hr {
        align-self:flex-end;
        margin-top:-5px;
        border:0; height:2px; background-color:#f66;
        color:#f66;
        width: 75%;
    }
    ul {
        margin-top: 1em;
    }
}

.rev {
  .brief-text-title {align-self:flex-end}
  hr {align-self:start}
}

.brief-text-body {
  margin: 0 10px;
  font-family: $base-font-family;
  font-size: 0.8em;
  color: $grey-color;
  p::first-letter { 
    font-size: 150%;
  }
  p {
    margin-bottom: 0.8em;
  }
  line-height: 1.4
}

.brief-text-season {
  color: $high-light-color;
}

@include media-query($on-laptop) {
  .brief-container ,.rev{
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    .brief-text-title {
        align-self: start;
        margin: 0;
    }
    hr {align-self: flex-end;width: 80%}
  }  
  .brief-container {text-align:center}
  .brief-photo {max-width: 410px}
  .brief-text  {width: 100%;max-width: 410px;margin:1em auto 1em auto;text-align:left}
}

@include media-query($on-palm) {
  .brief-photo-title {
    font-size:1.2em;
    margin:0.1em 0 0 0;
  }
  .brief-text-title {
    font-size:1.2em;
  }
  .brief-text-body {font-size:1em; margin:0.5em 0}
  .brief-photo-mask {
    top: 65%
  }
}
/* fuck the IE11 */
_:-ms-fullscreen, :root .brief-container{
  .brief-text, .brief-photo {
      display: block;
  }
  .brief-text > hr {
    margin-left:25%;
  }
}
